.yes{
    width: 600px;
    height: 600px;
    background-color: rgb(247, 245, 241);
    margin: auto;
    position: relative;top: 60px;
}

body{
    background-color: blue;
}

.button{
    background-color: rgb(43, 246, 43);
    width: 100px;
    height: 35px;
    position: relative;left: 30px;
}

.input{
    position: relative;left: 30px;
    border: none;
    background: transparent;
    border-bottom: 2px solid black ;
    height: 40px;
    width: 300px;

}

.log{
    position: relative;left: 30px;
}


.img1{
    width: 250px;
    height: 200px;
    position: absolute;left: 340px;bottom: 300px;
    
}


.button2{
    background-color: rgb(10, 246, 10);
    width: 100px;
    height: 35px;
    position: relative;left: 30px;
}